<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

<body>
    <div class="header">
        <div class="custom-container">
            <div class="header-block">
                <button class="open-btn" onclick="openMenu()">&#9776;</button>
                <a href="home-page.html">
                    <h1 class="header-title">CMS</h1>
                </a>
                <div class="header-profile">
                    <img src="media/profile.svg" alt="profile" />
                    <div class="header-profile__list">
                        <a href="edit-profile.html" class="header-profile__item">
                            <i class="fa-solid fa-user"></i><span>User profile</span>
                        </a>
                        <a href="sign-in.html" class="header-profile__item">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <aside class="side-bar">
            <div class="close-block"><button class="close" onclick="closeMenu()">&times;</button></div>
            <div class="side-bar__item">
                <div class="side-bar__input-block">
                    <input type="text" placeholder="Search" />
                    <div class="side-bar__search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>
            <a class="side-bar__item" href="view-content.html">
                <div class="side-bar__logo">
                    <img src="media/view-contents.svg" alt="sym" />
                </div>
                <span>View contents</span>
            </a>
            <a class="side-bar__item" href="add-content.html">
                <div class="side-bar__logo">
                    <img src="media/form-content.svg" alt="sym" />
                </div>
                <span>Form contents</span>
            </a>
        </aside>
        <main class="main-component"></main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./assets/js/script.js"></script>
</body>

</html>